@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

#list-item {
    font-family: Dancing Script,sans-serif;
    color: rgb(100,88,88);
    font-size: 30px;
    padding-left: 18px;
    padding-top: 20px;
    padding-bottom: 21px;
    background-color: antiquewhite;
    padding-right: 282px;
}