@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

#list-item {
    font-family: Dancing Script,sans-serif;
    color: rgb(88,88,88);
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: antiquewhite;
}